# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml

# =========================
# Python cache / build
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# OS / editor junk
# =========================
Thumbs.db
